.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  width: 250px;
  background-color: var(--background-offwhite);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.title {
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  padding: 1rem;
}
