.centralbox {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
}

.boxheader {
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  padding: 1rem;
}

.boxcontent {
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
}

.boxheader img {
  max-width: 400px;
}

.pickerContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.pickOne {
  border: 1px solid;
  background-color: var(--light-green);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pickOne:hover {
  filter: brightness(0.8);
}

.pickTwo {
  border: 1px solid;
  background-color: var(--light-salmon);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pickTwo:hover {
  filter: brightness(0.8);
}

img {
  max-width: 150px;
  margin-bottom: 1rem;
}
