.centralbox {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  /* aspect-ratio: 4/3; */
}

.boxheader {
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  padding: 2rem;
}

.boxcontent {
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
}

.boxheader img {
  max-width: 400px;
  height: auto;
}
